// colors
$primary: #000; // black
$secondary: #ccc; // gray

// modules
@import '../modules/**/*main.scss';

// partials
@import 'partials/**/*.scss';

body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #fff;
}

$grid: 960px;

.grid {
	width: $grid;
	margin: 0 auto;

	@include mobile($grid) {
		width: auto;
		margin: 0 10px;
	}
}

.slicknav_menu {
	display: none;
}


// layouts
@import 'layouts/**/*.scss';
