.arrow-up {
	&__wrapper {			
		z-index: 9999;
		opacity: 0;
		background: $secondary;
		padding: 10px;
		border-radius: 100%;
		display: inline-block;
		width: 42px;
		height: 42px;
		position: fixed;
		bottom: 20px;
		right: 20px;
		cursor: pointer;
		-webkit-transition: opacity 150ms;
				transition: opacity 150ms;
			
		&:hover {
			opacity: 1 !important;
		}
	}

	&__btn {	
		color: white;

		&.material-icons {
			font-size: 42px;
		}
	}
}