@import 'flexslider';


ul.slider {
	margin: 0;

	a {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
	}

	&,
	li {
		height: 100%;
	}

	img {
		display: none;
	}
}

.slide {
	&__image-wrapper {
		position: absolute;
		height: 100%;
		width: 65%;
		right: 0;
		top: 0;
		background-size: cover;
	}

	&__content-wrapper {
		background: #fff;
		position: absolute;
		top:0;
		left: 0;
		height: 100%;
		width: 35%;

		.slide__content {
			position: absolute;
			width: 100%;
			bottom: 10%;
			text-align: center;
			padding: 0 50px;
			box-sizing: border-box;

			p {
				font-size: 22px;
				line-height: 1.4em;
			}
		}
	}
}