/* floats */

.fl {
	float: left;
}

.fr {
	float: right;
}

/* flex-box */

.flex {
	display: flex;
    justify-content: space-between;
}

.flex--wrap {
	flex-wrap: wrap;
}

.third {
	width: 32%;
}

.two-third {
	width: 62%;
}

.half {
	width: 49%;
}

.tar {
	text-align: right;
}

/* nav */

.nav {
	a {
		color: $primary;
		display: block;
		text-decoration: none;
		line-height: 100%;
	}

	ul.menu {
		list-style: none;
		margin: 0;

		& > li {
			float: left;
			border-right: 1px solid $primary;
			padding-right: 12px;
			margin-right: 12px;

			&:last-child {
				border-right: none;
				margin-right: 0;
			}
		}
	}

	ul.sub-menu {
		display: none;
	}
}