.middle {
	a {
		display: block;
		// height: 350px;
		// width: 100%;
	}
	img {
		width: 100%;
	}
	.flexslider{
		height: 450px;
		margin-bottom: 40px;

		.slide {
			&__content {
				bottom: auto !important;
				top: 10%;
				background: rgba(#000, .3);
				text-align: left !important;

				h3 {
					font-size: 42px;
					font-weight: 500;
					margin: 8px 0 5px;
					color: #fff;
					text-shadow: 2px 2px 2px rgba(#000, .8);
				}
			}
		}
	}
}