.header__top {
  height: auto;
  background-color: #f5f5f5;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
  p {
    float: left;
    margin: 13px 0;
    }
  nav.social {
    float: right;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    padding: 13px 30px;
    }
}

.header__middle {
  background-color: #fff;
  overflow: hidden;
  padding: 20px 0;
  clear: both;
  nav.header__middle_nav {
    display: block;
    float: right;
    ul {
      list-style: none;
      margin: 0 auto;
      li {
        float: left;
        padding: 0 20px 20px 20px;
        a {
          text-decoration: none;
          color: black;
          padding-top: 10px;
         &:hover {
            color: #ff8f33;
            cursor: pointer;
            border-top: solid 2px #ff8f33;
          } 
        }
      }
    }
  }
}

.header__bottom {
  position: absolute;
  overflow: hidden;
  width: 100%;
  p {
    float: left;
  }
  a {
    display: block;
    float: right;
  }
}