
/* menu */
.dropdown {
	li {
		position: relative;

		&:hover > a {
			background: $primary;
			color: #fff;
		}
	}

	a {
		display: block;
	}

	ul.sub-menu {
		// display: block !important;
		display: none;
		position: absolute;
		z-index: 999;
		padding: 0;
		margin: 0;
		width: 200px;
		top: 100%;
		background: #ccb274;
		box-shadow: 1px 3px 6px rgba(0,0,0,.2);

		li {
			margin: 0;
			display: block;
			border-right: none !important;

			a {
				width: auto;
				box-sizing: border-box;
				padding: 13px 13px 14px;
				margin: 0;
				transition: color 150ms, background 150ms;
			}

			&:hover > a,
			&.current_page_ancestor > a,
			&.current_page_item > a {
				background: $primary;
				color: #fff;
			}
		}

		ul.sub-menu {
			left: 100%;
			top: 0;
		}
	}

	/* special case for last menu item on the right
	ul.menu > li:last-child {
		ul {
			right: 0;
		}

		& > ul li > ul {
			right: 100%;
			left: auto;
			top: 0;
		}
	}*/
}
